<!DOCTYPE HTML>
<html>

<head>
    <title>Dashboard | GT Circle K</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/images/Logos/GTCircleK.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
        type="text/css">


</head>

<body>
    <div class="ui secondary  menu">
        <div class="ui container">
            <h2 class="item">GT Circle K | Admin Dashboard</h2>
            <div class="right menu">
                <a class="ui item" href="/logout">
                    Logout
                </a>
            </div>
        </div>
    </div>

    <div class="ui container">
        <h4 class="ui horizontal divider header">
            Configure projects and events
        </h4>

        <% include ../partials/flashMessage.ejs %>

        <div class="ui secondary pointing menu">
            <a class="item active">
                Projects
            </a>
            <a class="item">
                Events
            </a>
            <a class="item">
                Sign Ups
            </a>
        </div>

        <div class="ui segment">
            <div id="project-contents">
                <h1 class="major">Active Projects
                    <a href="/projects/create" target="_blank">
                        <i class="plus icon"></i>
                    </a>
                </h1>
                <div class="ui fluid accordion" id="projects">
                    <div class="ui placeholder">
                        <div class="paragraph">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="event-contents">
                <h1 class="major">Upcoming Events
                    <a href="/events/create" target="_blank">
                        <i class="plus icon"></i>
                    </a>
                </h1>
                <ul id="events">
                    <div class="ui placeholder">
                        <div class="paragraph">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </ul>
            </div>

            <div id="signup-contents">
                <h1 class="major">Signup for upcoming week</h1>
                <ul id="signup">
                    <div class="ui placeholder">
                        <div class="paragraph">
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                            <div class="line"></div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <h4 class="ui horizontal divider header">
            <a href="/" target="_blank">
                Visit Website <i class="external alternate icon"></i>
            </a>
        </h4>

    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery.scrollex.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script>


        $('.ui.accordion').accordion();

        $('.ui.segment > div').hide();
        $('.ui.segment > div').eq(0).show();

        $('.ui.secondary.pointing.menu .item').on('click', function () {
            $('.ui.secondary.pointing.menu .item').removeClass('active');
            $(this).addClass('active');

            $('.ui.segment > div').hide();
            $('.ui.segment > div').eq($(this).index()).show();
        });

        $.get('api/projects', (data) => {
            addProjectsToList(data);
        });

        $.get('api/upcomingEvents', (data) => {
            addEventsToList(data);
        });

        function addProjectsToList(projects) {
            var listContainer = document.querySelector('#projects');
            listContainer.innerHTML = "";
            listContainer.classList.add('styled');

            projects.forEach(project => {
                addAccordianItem(project, listContainer);
            });
        }

        function addAccordianItem(project, parentContainer) {
            var title = document.createElement('div');
            title.classList.add('title');
            title.textContent = project.title;

            parentContainer.appendChild(title);
            parentContainer.appendChild(getProjectContent(project));
        }

        function getProjectContent(project) {
            var contents = document.createElement('div');
            contents.classList.add('content');

            var viewLink = document.createElement('a');
            viewLink.href = '/projects/' + project._id;
            viewLink.innerHTML = '&emsp;<i class="eye icon"></i> View Project <br>';
            viewLink.target = '_blank';

            var editLink = document.createElement('a');
            editLink.href = '/projects/' + project._id + '/edit';
            editLink.innerHTML = '&emsp;<i class="pencil alternate icon"></i> Edit Project';
            // editLink.target = '_blank';

            contents.appendChild(viewLink);
            contents.appendChild(editLink);
            return contents;
        }


        function addEventsToList(events) {
            var listContainer = document.querySelector('#events');
            if (events.length === 0) {
                listContainer.textContent = 'No upcoming events';
            } else {
                listContainer.innerHTML = "";
                events.forEach(event => {
                    var eventContainer = document.createElement('li');
                    eventContainer.textContent = event.title;

                    var editLink = document.createElement('a');
                    editLink.href = '/events/' + event._id + '/edit';
                    editLink.innerHTML = '&emsp;<i class="pencil alternate icon"></i>';
                    // editLink.target = '_blank';

                    eventContainer.appendChild(editLink);
                    listContainer.appendChild(eventContainer);
                });
            }
        }



    </script>

</body>

</html>