<% if (errorMessage && errorMessage.length > 0){ %>
<div class="ui small negative message">
    <p><%= errorMessage %></p>
</div>
<% } %>

<% if (successMessage && successMessage.length > 0){ %>
<div class="ui small success message">
    <p><%= successMessage %></p>
</div>
<% } %>