<section id="footer">
  <div class="inner wow fadeInUp" data-wow-duration="3s">
    <h2 class="major">Get in touch</h2>
    <ul class="contact">
      <li class="icon solid fa-envelope">
        <a href="mailto:gatechcirclek@gmail.com">gatechcirclek@gmail.com</a>
      </li>
      <li class="icon brands fa-twitter">
        <a href="https://twitter.com/GT_CircleK" target="_blank">GT_CircleK</a>
      </li>
      <li class="icon brands fa-facebook-f">
        <a href="https://www.facebook.com/groups/gtcirclek/" target="_blank"
          >gtcirclek</a
        >
      </li>
      <li class="icon brands fa-instagram">
        <a href="https://www.instagram.com/gt.circlek" target="_blank"
          >gt.circlek</a
        >
      </li>
      <li class="icon brands fa-slack-hash">
        <a
          href="https://groupme.com/join_group/61195478/S5OhwYK1"
          target="_blank"
          >GroupMe</a
        >
      </li>
    </ul>

    <ul class="copyright">
      <li>&copy; Georgia Tech Circle K. All rights reserved.</li>
      <li>Club Officers Login <a href="/login">here</a></li>
      <li><a href="/privacy">Privacy</a></li>
      <li><a href="/terms">Terms of Use</a></li>
      <li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
    </ul>
  </div>
</section>
