<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>About | GT Circle K</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css">
	<% include partials/head.ejs %>
</head>

<body class="is-preload">

	<div id="page-wrapper">
		<% include partials/navbar.ejs %>

		<section id="wrapper">
			<header>
				<div class="inner">
					<h2>Circle K Pledge</h2>
					<blockquote>"I pledge to uphold the Objects of Circle K International, to foster compassion and
						goodwill
						toward others through service and leadership, to develop my abilities and the abilities of all
						people, and to dedicate myself to the realization of humanity's potential."</blockquote>
				</div>
			</header>

			<div class="wrapper">
				<div class="inner">

					<h3 class="major">General Overview</h3>
					<p>Circle K is the largest collegiate service organization in the world and is part of the Kiwanis
						family, which includes Key Club (high school), Builders Club (middle school), K-Kids
						(e​lementary school), and other club branches. Our three tenets are service, leadership, and
						fellowship.</p>

					<p>Club members participate in weekly service projects around the Atlanta area and in district
						events in which they meet Circle K'ers from other schools. We keep members involved with service
						projects, but we do not have a minimum requirement of service hours, which allows members to
						volunteer according to their individual schedules. There are numerous leadership opportunities,
						including committee chairs, club officers, and officers on the district and international level.
					</p>

					<h3 class="major">​Georgia Tech Circle K</h3>
					<p> As the Georgia Tech branch of Georgia's Metro Division of Circle K International, GT Circle K
						works with volunteer projects around the city of Atlanta and beyond. Some of our service
						partners include the Atlanta Community Food Bank, Project Open Hand, and Trees Atlanta. In
						addition, we hold fundraisers to benefit various charitable causes, including UNICEF's Six Cents
						Initiative and Relay for Life. We also plan fun social events for the club to enjoy. Circle K
						offers leadership opportunities on the club, district, and international levels, as well as
						scholarships for outstanding student volunteers.</p>

					<h3 class="major">Officers</h3>
					<div id="gallery">
						<a href="images/Officers/izah.jpg" data-fancybox="gallery"
							data-caption="Izah Tahir | President | itahir3@gatech.edu">
							<img src="images/Officers/izah.jpg" alt="Izah Tahir - President" />
						</a>
						<a href="images/Officers/daniel.jpg" data-fancybox="gallery"
							data-caption="Daniel Scarborough | Vice President | dscarborough3@gatech.edu">
							<img src="images/Officers/daniel.jpg" alt="Daniel Scarborough - Vice President" />
						</a>
						<a href="images/Officers/arushi.jpg" data-fancybox="gallery"
							data-caption="Arushi Gupta | Treasurer | arushigupta@gatech.edu">
							<img src="images/Officers/arushi.jpg" alt="Arushi Gupta - Treasurer" />
						</a>
						<a href="images/Officers/wendy.jpg" data-fancybox="gallery"
							data-caption="Wendy Yao | Secretary | wyao94@gatech.edu">
							<img src="images/Officers/wendy.jpg" alt="Wendy Yao - Secretary" />
						</a>
					</div>
					<br>

					<h3 class="major">Committee Chairs</h3>
					<ul class="committee">
						<li>
							<h5>Erica Zheng | Social Chair </h5>
							As a Social Chair, Erica plans social events for CircleK-ers per month (at least one per
							month!), such as the annual winter potluck.
						</li>
						<li>
							<h5>Stacy Aragon | Interclub Chair</h5>
							As Interclub Chair, Stacy heads planning collaborative events with other Circle K clubs in
							Georgia. Stacy also sets up collaboration with other philanthropic organizations and clubs
							across the Georgia Tech campus.
						</li>
						<li>
							<h5>Ishan Baniya | Webmaster</h5>
							As webmaster, Ishan organizes and updates the club webpage, creates and maintains event
							signup forms, and maintains the club's online calendar.

						</li>
						<li>
							<h5>Elizabeth Blackmon | Fundraising Chair</h5>
							As Fundraising Chair, Elizabeth plans club fundraisers and keeps track of money raised.
							Example
							events include the WASH project, a UNICEF-led effort for clean water and sanitation in the
							world.
						</li>
					</ul>

					<h3 class="major">History</h3>
					<p>In 1936, the “Circle K House” at Washington State College was established by the Kiwanis Club of
						Pullman, Washington. Organized as a fraternity, Kappa Iota Phi served men who needed financial
						aid to attend college. Kiwanians also wanted to provide collegiate students leadership
						opportunities for their future careers and work service projects to better their communities
						while having a sense of fellowship.</p>
					<p>In 1947, Circle K changed from a fraternity to a service organization. That year, the first
						Circle K club was chartered at Carthage College in Carthage, Illinois. </p>
					<p>Circle K was introduced in Georgia in 1949 by Dr. George M. Sparks of the Atlanta Kiwanis Club.
						Then, the first club was chartered on February 22, 1950 at today's Georgia State University. The
						Georgia District of Circle K formed in 1959 under the direction of Mr. J. R. Griggs with 18
						clubs. In 2009, Georgia Circle K celebrated its 50th Anniversary. </p>
					<p>Over the years, thousands of members have impacted thousands more with their selfless acts of
						service as the organization has expanded across the United States from Washington to Hawaii.
					</p>

					<h3 class="major">Affiliations</h3>
					<section class="features">
						<article>
							<a href="http://www.georgiacirclek.org/" target="_blank" class="image"><img
									src="http://www.georgiacirclek.org/uploads/1/2/5/4/12543983/ga-cki-logo-1_1.png"
									alt="" /></a>
							<h3 class="major">CKI Georgia District</h3>
							<p>Georgia Circle K comprises of Circle K clubs throughout the state of Georgia at 16
								colleges & universities. They work together to serve Georgia.</p>
							<a href="http://www.georgiacirclek.org/" target="_blank" class="special">Learn more</a>
						</article>

						<article>
							<a href="https://www.circlek.org/" target="_blank" class="image" style="padding: 10px;"><img
									src="https://assets.website-files.com/57f28761635c0642430f69cf/57f28c294a32caec24d09b63_logo_CKI_%20wordmark_BW_oneline_PNG.png"
									alt="" /></a>
							<h3 class="major">Circle K International</h3>
							<p>Circle K International is the world's largest collegiate service organization with over
								11,000 members in 19 different countries. Founded in 1934 at Washington State College,
								Circle K now has clubs at more than 600 universities, including 32 in the Georgia
								district.</p>
							<a href="https://www.circlek.org/" target="_blank" class="special">Learn more</a>
						</article>

						<article>
							<a href="https://www.kiwanis.org/" target="_blank" class="image"><img
									src="https://i2.wp.com/reys.org/wp-content/uploads/2017/07/kiwanis-logo.jpg"
									alt="" /></a>
							<h3 class="major">Kiwanis</h3>
							<p>Circle K is part of the Kiwanis family, which includes Kiwanis clubs for
								adults and Key Clubs for high school students. Its three basic tenants are service,
								leadership, and fellowship.</p>
							<a href="https://www.kiwanis.org/" target="_blank" class="special">Learn more</a>
						</article>
					</section>

				</div>
			</div>

		</section>
		<% include partials/footer.ejs %>
	</div>


	<% include partials/common-scripts.ejs %>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js"></script>


	<script>
		$('#gallery').justifiedGallery({
			rowHeight: 200,
			margin: 10,
			lastRow: 'justify'
		}).on('jg.complete', function () {
			$('[data-fancybox="gallery"]').fancybox({
				loop: true,
				closeExiting: false,
				keyboard: true,
				preventCaptionOverlap: true,
				arrows: true,
				infobar: true,
				buttons: ['slideShow', 'fullScreen', 'close'],
				animationEffect: 'zoom-in-out',
				transitionEffect: 'fade',
				afterLoad: function (instance, current) {
					var pixelRatio = window.devicePixelRatio || 1;

					if (pixelRatio > 1.5) {
						current.width = current.width / pixelRatio;
						current.height = current.height / pixelRatio;
					}
				}
			});
		});
	</script>

</body>

</html>