<!DOCTYPE HTML>
<html>

<head>
	<title>Boys and Girls Club | GT Circle K</title>
	<meta charset="utf-8" />
	<link rel="icon" href="images/Logos/GTCircleK.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css">
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

	<div id="page-wrapper">

		<header id="header">
			<h1><a href="index.html">Georgia Tech Circle K</a></h1>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<nav id="menu">
			<div class="inner">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="events.html">Events</a></li>
					<li><a href="resources.html">Resources</a></li>
					<li><a href="join.html">Join Us</a></li>
				</ul>
				<a href="#" class="close">Close</a>
			</div>
		</nav>

		<section id="wrapper">
			<header>
				<div class="inner">
					<h2>Boys and Girls Club of America</h2>
					<p>Spend time playing games and doing activities with the kids at the Boys & Girls Club.</p>
				</div>
			</header>

			<div class="wrapper">
				<div class="inner">

					<h3 class="major">Who</h3>
					<p>Every Friday, Circle K'ers volunteer at the Boys & Girls Club, inspiring and enabling all young
						people to realize their full potential as productive, responsible, and caring citizens. The
						organization provides a safe place to learn and grow, and volunteers can play games with
						children.​</p>

					<h3 class="major">What</h3>
					<p>If you volunteer at the Boys & Girls Club, you can pick from a variety of activities. You can
						play boardgames, blocks, and other indoor activities. There is also a craft time where you can
						help out the children. You can also play sports in the gym or outside (weather-permitting) such
						as basketball.</p>

					<h3 class="major">Details</h3>
					<ul class="contact">
						<li class="icon solid fa-home">
							The Bellwood Boys & Girls Club<br />
							777 Donald Lee Hollowell Pkwy NW<br />
							Atlanta, GA 30318
						</li>
						<li class="icon solid fa-clock">Fridays, 4:20 - 6:00 pm (Meet at 4:05 pm)</li>
						<li class="icon solid fa-location-arrow">Pickup @ CULC Circle <br>
							Please try to arrive 15 minutes before the event (by 4:05 pm). This is the roundabout
							outside the back entrance of the CULC. Please contact us if you can't make it here in time,
							and we'll try to accommodate you.</li>
						<li class="icon solid fa-tshirt">If you want to play sports, wear clothes to run around in.
							<br>
							If you plan to do crafts/blocks/etc, wear casual clothing. <br>
							No inappropriate clothing (you will be around children).
						</li>
						<li><a href="https://docs.google.com/forms/d/e/1FAIpQLScFVp8j3mjXGZ0r7lBuKX9JvkgGID_60eJOHfBAse_zt6QCkA/viewform"
								target="_blank" class="button primary">Sign Up</a></li>

						<li>
							<p>Please join our <a href="https://groupme.com/join_group/49705520/fLu3rQT3"
									target="_blank" class="dotted-line">Group
									Me</a> chat for more details and updates. <br>
								This will allow us to make travel arrangements and communicate easily.</p>

						</li>
					</ul>

					<h3 class="major">Photo Gallery</h3>
					<div id="gallery">
						<script>
							// Temporary implementation
							var images = ['20170908-171205_orig.jpg', '20171006-172424_orig.jpg', 'b4-dj-got-beat-by-kijana_orig.jpg', 'img-2090_orig.jpg', 'img-2094_orig.jpg', 'img-2123_orig.jpg', 'img-2126_orig.jpg', 'img-2256_orig.jpg', 'img-2258_orig.jpg', 'img-2261_orig.jpg', 'IMG_9239.jpg', 'IMG_9242.JPG', 'IMG_9280.jpg', 'kijana-has-no-chill_orig.jpg', 'left_orig.jpg', 'mid_orig.jpg', 'right_orig.jpg'];
							var container = document.querySelector('#gallery');

							images.forEach(image => {
								var imagePath = 'images/Pictures/boysAndGirls/' + image;
								var imgSrc = '<img src="' + imagePath + '" alt="" />';
								var aLink = '<a href="' + imagePath + '" data-fancybox="gallery">' + imgSrc + '</a>';
								container.innerHTML += aLink;
							});							
						</script>

						<!-- <a href="images" data-fancybox="gallery" data-caption="Caption for single image">
							<img src="images" alt="" />
						</a> -->
					</div>


				</div>
			</div>

		</section>

		<section id="footer">
			<div class="inner">
				<h2 class="major">Get in touch</h2>
				<ul class="contact">
					<li class="icon solid fa-envelope"><a
							href="mailto:gatechcirclek@gmail.com">gatechcirclek@gmail.com</a></li>
					<li class="icon brands fa-twitter"><a href="https://twitter.com/GT_CircleK"
							target="_blank">GT_CircleK</a></li>
					<li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/groups/gtcirclek/"
							target="_blank">gtcirclek</a></li>
					<li class="icon brands fa-instagram"><a href="https://www.instagram.com/gt.circlek"
							target="_blank">gt.circlek</a></li>
					<li class="icon brands fa-slack-hash"><a href="https://groupme.com/join_group/49705520/fLu3rQT3"
							target="_blank">GroupMe</a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Georgia Tech Circle K. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
				</ul>

			</div>
		</section>

	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

	<script>
		$('#gallery').justifiedGallery({
			rowHeight: 200,
			randomize: true,
			margin: 5,
			lastRow: 'justify'
		}).on('jg.complete', function () {
			$('[data-fancybox="gallery"]').fancybox({
				protect: true,
				loop: true,
				closeExiting: false,
				keyboard: true,
				preventCaptionOverlap: true,
				arrows: true,
				infobar: true,
				buttons: ['zoom', 'slideShow', 'fullScreen', 'thumbs', 'close', 'info'],
				animationEffect: 'zoom-in-out',
				transitionEffect: 'fade',
				afterLoad: function (instance, current) {
					var pixelRatio = window.devicePixelRatio || 1;

					if (pixelRatio > 1.5) {
						current.width = current.width / pixelRatio;
						current.height = current.height / pixelRatio;
					}
				}
			});
		});

	</script>

</body>

</html>