<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>GT Circle K</title>
	<meta charset="utf-8" />
	<% include partials/head.ejs %>
</head>

<body class="is-preload">

	<div id="page-wrapper">
		<header id="header" class="alt">
			<h1><a href="/">Georgia Tech Circle K</a></h1>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>
		
		<nav id="menu">
			<div class="inner">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/projects">Projects</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/resources">Resources</a></li>
					<li><a href="/join">Join Us</a></li>
					<% if (currentUser){ %>
						<li><a href="/dashboard">Dashboard</a></li>
						<li><a href="/logout">Logout</a></li>
					<% } %>
				</ul>
				<a href="#" class="close">Close</a>
			</div>
		</nav>

		<section id="banner">
			<div class="inner">
				<div class="logo"><img src="/images/Logos/GTCircleK.png"></span></div>
				<h2>Georgia Tech Circle K International</h2>
				<p>To promote service, leadership, and fellowship</p>
			</div>
		</section>

		<section id="wrapper">
			<section id="one" class="wrapper spotlight style1">
				<div class="inner">
					<a class="image"><img src="/images/bucky.jpg" alt="" /></a>
					<div class="content">
						<h2 class="major">About Us</h2>
						<p>
							We are the Georgia Tech Chapter of Circle K International <br>
							Georgia Tech Circle K is just one part of Kiwanis Interational Extensive Umbrella
						</p>
						<div class="infographics">
							<div class="info-item">
								<i class="far fa-handshake"></i>
								760+ Service Hours
							</div>
							<div class="info-item">
								<i class="fas fa-users"></i>
								40+ Paid Members
							</div>
							<div class="info-item">
								<i class="fas fa-hand-holding-usd"></i>
								$1880+ Raised
							</div>
						</div>
						<p style="font-size: 0.75em;">*2018-19</p>
						<a href="/about" class="special">Learn more</a>
					</div>
					

				</div>
			</section>

			<section id="two" class="wrapper alt spotlight style2">
				<div class="inner">
					<a class="image"><img src="/images/project.png" alt="" /></a>
					<div class="content">
						<h2 class="major">Projects</h2>
						<p>Explore all the opportunities to give back to community</p>
						<a href="/projects" class="special">See All Opportunities</a>
					</div>
				</div>
			</section>

			<section id="three" class="wrapper spotlight style1">
				<div class="inner">
					<a class="image"><img src="/images/group.jpg" alt="" /></a>
					<div class="content">
						<h2 class="major">Join Us</h2>
						<p>Interested in Making a Difference? <br>
							Want to learn more on why to be part of Circle K International?
						</p>
						<a href="/join" class="special">Learn More</a>
					</div>
				</div>
			</section>

			<section id="two" class="wrapper alt spotlight style2">
				<div class="inner">
					<a class="image"><img src="/images/event.jpg" alt="" /></a>
					<div class="content">
						<h2 class="major">Events</h2>
						<p>We are more than just Community Service. <br>
							Check out our other events!</p>
						<a href="/events" class="special">View Events</a>
					</div>
				</div>
			</section>

		</section>

		<% include partials/footer.ejs %>

	</div>

	<% include partials/common-scripts.ejs %>

</body>

</html>