<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Join | GT Circle K</title>
	<meta charset="utf-8" />
	<% include partials/head.ejs %>

</head>

<body class="is-preload">

	<div id="page-wrapper">

		<% include partials/navbar.ejs %>

		<section id="wrapper">
			<header>
				<div class="inner">
					<h2 class="wow fadeInLeft" data-wow-duration="2s">Join Us</h2>
					<p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">Interested in Making a
						Difference?</p>
				</div>
			</header>

			<div class="wrapper">
				<div class="inner">

					<div class="benefits wow fadeInUp"data-wow-duration="1s" data-wow-delay="1s">
						<h3 class="major">Benefits of Circle K International</h3>
						<h3>Service</h3>
						<p>Circle K focuses on service. Whether cleaning a beach, feeding the homeless, or building a
							playground, Circle K’ers give their time and efforts to make a difference. Service is
							perhaps the most rewarding and fulfilling of all Circle K’s tenets because members not only
							help the world around them but also help themselves grow.</p>

						<h3>Leadership</h3>
						<p>​Circle K’ers have various opportunities to serve in leadership positions at the club,
							district, and international levels. By working on a committee or a board of officers, Circle
							K’ers develop leadership skills and long-term connections that can benefit them in their
							professions and post-graduate careers.</p>

						<h3>Fellowship</h3>
						<p>Circle K’ers reign from across the world and come together in service and leadership to form
							bonds that last for years. As a Circle K’er, you will meet people from different walks of
							life and find friends from different schools and states. With a shared love of service,
							these friends can last a lifetime.</p>
					</div>

					<br>

					<div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
						<h3 class="major">Become a Member Now</h3>
						<ol>
							<li>Fill out the membership form.</li>
							<li>Pay dues. Dues are $25 for the semester or $35 for the year. You can pay by cash, check
								(Georgia Tech Circle K), or Venmo (@GTCircleK).</li>
							<li>Come to our meeting. See <a href="events.html" class="dotted-line">Events Page</a> for
								upcoming meeting details.</li>
							<li>Join our <a href="https://groupme.com/join_group/49705520/fLu3rQT3" target="_blank"
									class="dotted-line">Group
									Me</a> chat.</li>
						</ol>
						<p>Please make sure to pay dues ASAP if you haven't already. <br>
							<a href="https://docs.google.com/forms/d/1Ms014Kv7k_mzySgt8FqWTx-36UdWRnEkK8WN-ouJ-5Q/viewform"
								target="_blank" class="button primary">Membership Form</a>
						</p>
					</div>

				</div>
			</div>

		</section>

		<% include partials/footer.ejs %>

	</div>

	<% include partials/common-scripts.ejs %>

</body>

</html>