<!DOCTYPE HTML>
<html>

<head>
	<title>Kiwanis Luncheons | GT Circle K</title>
	<meta charset="utf-8" />
	<link rel="icon" href="images/Logos/GTCircleK.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/css/justifiedGallery.min.css">
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

	<div id="page-wrapper">

		<header id="header">
			<h1><a href="index.html">Georgia Tech Circle K</a></h1>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<nav id="menu">
			<div class="inner">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="resources.html">Resources</a></li>
					<li><a href="signUp.html">Sign Up</a></li>
				</ul>
				<a href="#" class="close">Close</a>
			</div>
		</nav>

		<section id="wrapper">
			<header>
				<div class="inner">
					<h2>Kiwanis Luncheons</h2>
					<p>Attend the Kiwanis luncheon: meet members from our sponsoring Kiwanis club, enjoy lunch, and hear
						from a guest speaker.</p>
				</div>
			</header>

			<div class="wrapper">
				<div class="inner">

					<h3 class="major">Details</h3>
					<ul class="contact">
						<li class="icon solid fa-home">
							​Second-Ponce de Leon Baptist Church <br>
							2715 Peachtree Rd., NE, <br> Atlanta, GA 30305
						</li>
						<li class="icon solid fa-clock">Thursdays, 12:00 - 2:00 pm</li>
						<li class="icon solid fa-location-arrow">Pickup TBD (we will contact you)</li>
						<li class="icon solid fa-tshirt">You don't need to "dress up" but don't wear a t-shirt, flip
							flops, or any inappropriate clothing.
						</li>
						<li>
							<!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLScs8M5IWz2aC1drkCMEEljj3oZDrOluAB7ECnZRvZ-TDSJnAQ/viewform"
								target="_blank" class="button primary">Sign Up</a>  -->
							<br>Contact Izah Tahir (itahir3@gatech.edu) to sign up.</li>
						<li>
							<p>Please join our <a href="https://groupme.com/join_group/49705520/fLu3rQT3"
									target="_blank" class="dotted-line">Group
									Me</a> chat for more details and updates. <br>
								This will allow us to make travel arrangements and communicate easily.</p>

						</li>
					</ul>

					<h3 class="major">Photo Gallery</h3>
					<div id="gallery">
						<script>
							// Temporary implementation
							var images = ['IMG_0235.JPG', 'IMG_0253.JPG', 'IMG_0255.JPG', 'IMG_0496.JPG', 'IMG_0853.JPG', 'IMG_0854.JPG', 'IMG_0873.JPG', 'IMG_1660.JPG', 'IMG_1662.JPG', 'IMG_1667.JPG', 'IMG_1679.JPG', 'IMG_1682.JPG', 'IMG_1692.JPG', 'IMG_1696.JPG'];
							var container = document.querySelector('#gallery');

							images.forEach(image => {
								var imagePath = 'images/Pictures/kiwanisLunch/' + image;
								var imgSrc = '<img src="' + imagePath + '" alt="" />';
								var aLink = '<a href="' + imagePgath + '" data-fancybox="gallery">' + imgSrc + '</a>';
								container.innerHTML += aLink;
							});							
						</script>

						<!-- <a href="images" data-fancybox="gallery" data-caption="Caption for single image">
							<img src="images" alt="" />
						</a> -->
					</div>

				</div>
			</div>

		</section>

		<section id="footer">
			<div class="inner">
				<h2 class="major">Get in touch</h2>
				<ul class="contact">
					<li class="icon solid fa-envelope"><a
							href="mailto:gatechcirclek@gmail.com">gatechcirclek@gmail.com</a></li>
					<li class="icon brands fa-twitter"><a href="https://twitter.com/GT_CircleK"
							target="_blank">GT_CircleK</a></li>
					<li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/groups/gtcirclek/"
							target="_blank">gtcirclek</a></li>
					<li class="icon brands fa-instagram"><a href="https://www.instagram.com/gt.circlek"
							target="_blank">gt.circlek</a></li>
					<li class="icon brands fa-slack-hash"><a href="https://groupme.com/join_group/49705520/fLu3rQT3"
							target="_blank">GroupMe</a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Georgia Tech Circle K. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
				</ul>

			</div>
		</section>

	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/justifiedGallery/3.7.0/js/jquery.justifiedGallery.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

	<script>
		$('#gallery').justifiedGallery({
			rowHeight: 200,
			randomize: true,
			margin: 5,
			lastRow: 'justify'
		}).on('jg.complete', function () {
			$('[data-fancybox="gallery"]').fancybox({
				protect: true,
				loop: true,
				closeExiting: false,
				keyboard: true,
				preventCaptionOverlap: true,
				arrows: true,
				infobar: true,
				buttons: ['zoom', 'slideShow', 'fullScreen', 'thumbs', 'close', 'info'],
				animationEffect: 'zoom-in-out',
				transitionEffect: 'fade',
				afterLoad: function (instance, current) {
					var pixelRatio = window.devicePixelRatio || 1;

					if (pixelRatio > 1.5) {
						current.width = current.width / pixelRatio;
						current.height = current.height / pixelRatio;
					}
				}
			});
		});
	</script>
</body>

</html>