<!DOCTYPE HTML>
<html>

<head>
	<title>Projects | GT Circle K</title>
	<meta charset="utf-8" />
	<link rel="icon" href="images/Logos/GTCircleK.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

	<div id="page-wrapper">

		<header id="header">
			<h1><a href="index.html">Georgia Tech Circle K</a></h1>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<nav id="menu">
			<div class="inner">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="events.html">Events</a></li>
					<li><a href="resources.html">Resources</a></li>
					<li><a href="join.html">Join Us</a></li>
				</ul>
				<a href="#" class="close">Close</a>
			</div>
		</nav>

		<section id="wrapper">
			<header>
				<div class="inner">
					<h2>Projects</h2>
					<p>See all of our service projects</p>
				</div>
			</header>

			<div class="wrapper">
				<div class="inner">

					<p>Please join our <a href="https://groupme.com/join_group/49705520/fLu3rQT3" target="_blank"
							class="dotted-line">Group
							Me</a> chat for more details and updates. <br>
						This will allow us to make travel arrangements and communicate easily.</p>


					<h3 class="major">Active Projects</h3>
					<section class="features">
						<article>
							<a href="boysAndGirls.html" class="image"><img src="images/Logos/boysgirlsclublogo_orig.jpg"
									alt="" /></a>
							<h3 class="major">Boys and Girls Club of America</h3>
							<p>Spend time playing games and doing activities with the kids at the Boys & Girls Club.</p>
							<a href="boysAndGirls.html" class="special">Learn more</a>
						</article>

						<article>
							<a href="foodbank.html" class="image"><img src="images/Logos/foodbank_orig.png" alt="" /></a>
							<h3 class="major">Atlanta Community Food Bank</h3>
							<p>Come help sort goods and food for distribution to families in need.​
							</p>
							<a href="foodbank.html" class="special">Learn more</a>
						</article>

						<article>
							<a href="kiwanisLunch.html" class="image"><img src="images/Logos/kiwanis-logo.jpg"
									alt="" /></a>
							<h3 class="major">​Kiwanis Luncheons</h3>
							<p>Attend the Kiwanis luncheon: meet members from our sponsoring Kiwanis club, enjoy lunch,
								and hear from a guest speaker.
							</p>
							<a href="kiwanisLunch.html" class="special">Learn more</a>
						</article>

						<article>
							<a href="treesAtlanta.html" class="image fit"><img src="images/Logos/treesAtlanta.png"
									alt="" /></a>
							<h3 class="major">Trees Atlanta</h3>
							<p>Plant trees and ferns around Atlanta neighborhoods and parks.
							</p>
							<a href="treesAtlanta.html" class="special">Learn more</a>
						</article>

					</section>

					<!-- <h3 class="major">Past Projects</h3>
					<section class="features">
						<article>
							<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
							<h3 class="major">Georgia District Day of Service</h3>
							<p>.........</p>
							<a href="#" class="special">Learn more</a>
						</article>
					</section> -->



				</div>
			</div>

		</section>

		<section id="footer">
			<div class="inner">
				<h2 class="major">Get in touch</h2>
				<ul class="contact">
					<li class="icon solid fa-envelope"><a
							href="mailto:gatechcirclek@gmail.com">gatechcirclek@gmail.com</a></li>
					<li class="icon brands fa-twitter"><a href="https://twitter.com/GT_CircleK"
							target="_blank">GT_CircleK</a></li>
					<li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/groups/gtcirclek/"
							target="_blank">gtcirclek</a></li>
					<li class="icon brands fa-instagram"><a href="https://www.instagram.com/gt.circlek"
							target="_blank">gt.circlek</a></li>
					<li class="icon brands fa-slack-hash"><a href="https://groupme.com/join_group/49705520/fLu3rQT3"
							target="_blank">GroupMe</a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Georgia Tech Circle K. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
				</ul>

			</div>
		</section>

	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>