<!DOCTYPE HTML>
<html>

<head>
	<title>Resources | GT Circle K</title>
	<meta charset="utf-8" />
	<link rel="icon" href="images/Logos/GTCircleK.png">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
</head>

<body class="is-preload">

	<div id="page-wrapper">

		<header id="header">
			<h1><a href="index.html">Georgia Tech Circle K</a></h1>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<nav id="menu">
			<div class="inner">
				<h2>Menu</h2>
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="events.html">Events</a></li>
					<li><a href="resources.html">Resources</a></li>
					<li><a href="join.html">Join Us</a></li>
				</ul>
				<a href="#" class="close">Close</a>
			</div>
		</nav>

		<section id="wrapper">
			<header>
				<div class="inner">
					<h2>Resources</h2>
					<p>Catch up on what you missed!</p>
				</div>
			</header>

			<div class="wrapper">
				<div class="inner">


					<h3 class="major">Meeting Summaries</h3>
					<p>While we would love to see all our members at our meetings, we know that everyone is busy! If
						you're interested in joining but you can't make our meeting days, you are still welcome to
						participate in our events. Just make sure you fill out the membership form <a href="join.html" class="dotted-line">here</a> and pay your dues to
						officially become a member. Happy serving!<br><br>
						<a href="https://drive.google.com/open?id=144XGSJFebHd9e42ra2oODW-_y999Kwye" target="_blank"
							class="button primary">See Past Slides</a>
					</p>


					<h3 class="major">The Kronicles</h3>
					<p>Circle K members can submit articles to The Kronicle, Georgia Circle K's publication by the
						district's bulletin editor. In an issue of The Kronicle, members will find news, events, member
						spotlights, club spotlights, and introductions to district board members.<br><br>
						<a href="http://www.georgiacirclek.org/publications.html" class="button primary"
							target="_blank">View Kronicles</a>
					</p>



				</div>
			</div>

		</section>

		<section id="footer">
			<div class="inner">
				<h2 class="major">Get in touch</h2>
				<ul class="contact">
					<li class="icon solid fa-envelope"><a
							href="mailto:gatechcirclek@gmail.com">gatechcirclek@gmail.com</a></li>
					<li class="icon brands fa-twitter"><a href="https://twitter.com/GT_CircleK"
							target="_blank">GT_CircleK</a></li>
					<li class="icon brands fa-facebook-f"><a href="https://www.facebook.com/groups/gtcirclek/"
							target="_blank">gtcirclek</a></li>
					<li class="icon brands fa-instagram"><a href="https://www.instagram.com/gt.circlek"
							target="_blank">gt.circlek</a></li>
					<li class="icon brands fa-slack-hash"><a href="https://groupme.com/join_group/49705520/fLu3rQT3"
							target="_blank">GroupMe</a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Georgia Tech Circle K. All rights reserved.</li>
					<li>Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a></li>
				</ul>

			</div>
		</section>
	</div>

	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>