<!DOCTYPE HTML>
<html>

<head>
	<title>Resources | GT Circle K</title>
	<meta charset="utf-8" />
	<% include partials/head.ejs %>
</head>

<body class="is-preload">

	<div id="page-wrapper">
		<% include partials/navbar.ejs %>

		<section id="wrapper">
			<header>
				<div class="inner">
					<h2>Resources</h2>
					<p>Catch up on what you missed!</p>
				</div>
			</header>

			<div class="wrapper">
				<div class="inner">


					<h3 class="major">Meeting Summaries</h3>
					<p>While we would love to see all our members at our meetings, we know that everyone is busy! If
						you're interested in joining but you can't make our meeting days, you are still welcome to
						participate in our events. Just make sure you fill out the membership form <a href="join.html" class="dotted-line">here</a> and pay your dues to
						officially become a member. Happy serving!<br><br>
						<a href="https://drive.google.com/open?id=144XGSJFebHd9e42ra2oODW-_y999Kwye" target="_blank"
							class="button primary">See Past Slides</a>
					</p>


					<h3 class="major">The Kronicles</h3>
					<p>Circle K members can submit articles to The Kronicle, Georgia Circle K's publication by the
						district's bulletin editor. In an issue of The Kronicle, members will find news, events, member
						spotlights, club spotlights, and introductions to district board members.<br><br>
						<a href="http://www.georgiacirclek.org/publications.html" class="button primary"
							target="_blank">View Kronicles</a>
					</p>



				</div>
			</div>

		</section>

		<% include partials/footer.ejs %>
	</div>

	<% include partials/common-scripts.ejs %>

</body>

</html>