<!DOCTYPE HTML>
<!--
	Solid State by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>Unavailable | GT Circle K</title>
	<meta charset="utf-8" />
	<% include partials/head.ejs %>
</head>

<body class="is-preload">

	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<% include partials/navbar.ejs %>

		<section id="wrapper">
			<header>
				<div class="inner">
					<h2>¯\_(ツ)_/¯</h2>
					<p>Page could not be found</p>
					<p ><a href="/" class="special" style="color: white">Take me Home</a></p>
				</div>
			</header>
		</section>

		<% include partials/footer.ejs %>

	</div>

	<% include partials/common-scripts.ejs %>

</body>

</html>